### Grouping and summarising Dataframes

Grouping and aggregation are most commanly used operations in data analysis, especialy while doing the exploratory data analysis(EDA).

-  Grouping analysis having the three parts 
    -  **Spliting** the data into group
    -  **Applying** function to each group
    -  **Combining** The result into data structure showing the summery stastitics.

In [2]:
import pandas as pd
import numpy as np

market_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/market_fact.csv")
customer_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/cust_dimen.csv")
product_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/prod_dimen.csv")
shipping_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/shipping_dimen.csv")
orders_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/orders_dimen.csv")

Merge the all dataframe before applying the stastitical operations

In [3]:
df1 = pd.merge(market_df, customer_df, how='inner', on= 'Cust_id')
df2 = pd.merge(df1,product_df, how= 'inner', on= 'Prod_id')
df3 = pd.merge(df2, shipping_df, how = 'inner', on= 'Ship_id')
master_df = pd.merge(df3, orders_df, how='inner', on= 'Ord_id') 
master_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,WEST,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,EXPRESS AIR,27-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,ONTARIO,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,37863,24-02-2011,HIGH
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,WEST,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,53026,26-02-2012,LOW

#### Step 1. Grouping by `df.groupby()`

-   Typically we group the data using the categerical variable. This create the many subset of the data as there are levels in categorical varibale.
-   `df.groupby` return the DataFrameGroupby object.
-   You perform the groupby operation only on demand. you can use it only on demand till then data remains untouch
-   You can perform the various artihmatic operation on groupby object.

In [4]:
df_by_segment = master_df.groupby('Customer_Segment')
df_by_segment

#### Step 2. Applying a Function

After grouping, you apply a function to a **numeric variable**, such as ```mean(Sales)```, ```sum(Profit)```, etc.

In [6]:
# We can choose the agrigation function such as sum, mean, median etc.
df_by_segment['Profit'].sum()

Customer_Segment
CONSUMER          287959.94
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
Name: Profit, dtype: float64

Notice that we have indexed the ```Profit``` column in the DataFrameGroupBy object exactly as we index a normal column in a dataframe. Alternatively, you could also use ```df_by_segment.Profit```.

In [48]:
pd.DataFrame(df_by_segment.Profit)

                0                                                  1
0        CONSUMER  4        -17.58
61       -21.91
62        38.7...
1       CORPORATE  0         -30.51
1        1148.90
2         -4...
2     HOME OFFICE  3         23.12
6        -78.64
7        338.0...
3  SMALL BUSINESS  8        -13.53
9        -15.20
10        30.9...

In [8]:
# we can sort the summerised value by the descending and ascending order as below
df_by_segment.Profit.sum().sort_values(ascending = False)

Customer_Segment
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
CONSUMER          287959.94
Name: Profit, dtype: float64

#### Combining the result into dataframe

In [11]:
# we can creat the dataframe of group by object
pd.DataFrame(df_by_segment.Profit.sum().sort_values(ascending = False))

                     Profit
Customer_Segment
CORPORATE         599746.00
HOME OFFICE       318354.03
SMALL BUSINESS    315708.01
CONSUMER          287959.94

In [13]:
# Let's go through some more examples
# E.g.: Which product categories are the least profitable?

df_by_catergory = master_df.groupby('Product_Category')
df_by_catergory

In [15]:
pd.DataFrame(df_by_catergory.Profit.mean())

                      Profit
Product_Category
FURNITURE          68.116607
OFFICE SUPPLIES   112.369074
TECHNOLOGY        429.207516

In [19]:
# E.g.: Which product categories and sub-categories are the least profitable?
# 1. Group by category and sub-category

df_by_Cat_SubCat = master_df.groupby(['Product_Category','Product_Sub_Category'])
pd.DataFrame(df_by_Cat_SubCat.Profit.mean())

                                                      Profit
Product_Category Product_Sub_Category
FURNITURE        BOOKCASES                       -177.683228
                 CHAIRS & CHAIRMATS               387.693601
                 OFFICE FURNISHINGS               127.446612
                 TABLES                          -274.411357
OFFICE SUPPLIES  APPLIANCES                       223.866498
                 BINDERS AND BINDER ACCESSORIES   335.970918
                 ENVELOPES                        195.864228
                 LABELS                            47.490174
                 PAPER                             36.949551
                 PENS & ART SUPPLIES               11.950679
                 RUBBER BANDS                      -0.573575
                 SCISSORS, RULERS AND TRIMMERS    -54.161458
                 STORAGE & ORGANIZATION            12.205403
TECHNOLOGY       COMPUTER PERIPHERALS             124.389815
                 COPIERS AND FAX                 1923.695287
                 OFFICE MACHINES                  913.094748
                 TELEPHONES AND COMMUNICATION     358.948607

In [51]:
# df.discribe method
df_by_catergory.Profit.describe()

,count,mean,std,min,25%,50%,75%,max
Product_Category,,,,,,,,
FURNITURE,1724.0,68.116607,1112.923257,-11053.60,-281.3550,-14.250,187.1600,8614.79
OFFICE SUPPLIES,4610.0,112.369074,744.617939,-2175.09,-57.0225,-3.845,56.9475,11535.28
TECHNOLOGY,2065.0,429.207516,1863.208375,-14140.70,-88.9400,66.220,561.1300,27220.69

In [21]:
df_by_catergory.Profit.count()

Product_Category
FURNITURE          1724
OFFICE SUPPLIES    4610
TECHNOLOGY         2065
Name: Profit, dtype: int64

In [26]:
master_df.groupby('Region').Profit.min()

Region
ATLANTIC                -11769.17
NORTHWEST TERRITORIES   -11053.60
NUNAVUT                  -1766.01
ONTARIO                  -6474.65
PRARIE                  -11861.46
QUEBEC                   -9611.91
WEST                    -14140.70
YUKON                    -9078.94
Name: Profit, dtype: float64

In [28]:
# Note that the resulting object is a Series, thus you can perform vectorised computations on them

# E.g. Calculate the Sales across each region as a percentage of total Sales
master_df.groupby('Region').Sales.sum()/sum(master_df.Sales)*100

Region
ATLANTIC                 13.504305
NORTHWEST TERRITORIES     5.369193
NUNAVUT                   0.780233
ONTARIO                  20.536970
PRARIE                   19.022396
QUEBEC                   10.124936
WEST                     24.119372
YUKON                     6.542595
Name: Sales, dtype: float64

In [55]:
df_by_catergory.agg({'Profit':'mean','Sales':'mean'})

                      Profit        Sales
Product_Category
FURNITURE          68.116607  3003.822820
OFFICE SUPPLIES   112.369074   814.048178
TECHNOLOGY        429.207516  2897.941008