### Indexing and selecting data:
-  Selecting row from dataframe
-  Selecting column form dataframe
-  Selecting subset from dataframe

#### Selecting ROW from dataframe:
-  it is similar to the indexing of numpy array.
-  `df[start_index:end_index]` is the syntax for selecting the row.

In [7]:
import pandas as pd
import numpy as np

market_df = pd.read_csv(r"F:\PGD_UpGrad\Preparatory\Module 5 Python for Data Science\Referance Data\Introduction+to+Pandas\Introduction to Pandas\global_sales_data/market_fact.csv")
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [9]:
# selecting row from the 2 to 6 indexes
market_df[2:7]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [10]:
# selecting the alternate row from index 5
market_df[5::2].head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78

### Selecting the column

-  There are two simple ways to selecting the column form the dataframe
*  `df['Column_Name']` or `df.Column_Name`.

In [11]:
market_df['Sales'].head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [12]:
market_df.Sales.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

-  In above both the cases the resultant data is the serie and when we are seleting the row it is dataframe

In [15]:
print(type(market_df.Sales))
print(type(market_df['Sales']))
print(type(market_df[2:7]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### Selecting the multiple colums:

-  You can select the multiple column by passing the multiple column names inside the `[]`.
-  such as `df[['Sales','Ord_id','Prod_id']]`

In [17]:
market_df[['Sales','Ord_id','Prod_id']].head()

     Sales    Ord_id  Prod_id
0   136.81  Ord_5446  Prod_16
1    42.27  Ord_5406  Prod_13
2  4701.69  Ord_5446   Prod_4
3  2337.89  Ord_5456   Prod_6
4  4233.15  Ord_5485  Prod_17

### Selecting the Subset of dataframe:

Until now, you have seen selecting rows and columns using the following ways:
* Selecting rows: ```df[start:stop]```
* Selecting columns: ```df['column']``` or ```df.column``` or ```df[['col_x', 'col_y']]```
    * ```df['column']``` or ```df.column``` return a series
    * ```df[['col_x', 'col_y']]``` returns a dataframe

But pandas does not prefer this way of indexing dataframes, since it has some ambiguity. For instance, let's try and select the third row of the dataframe.